@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    padding: 0%;
    margin: 0%;
    box-sizing: border-box;
}

html {
    font-family: "Poppins", system-ui
}

.image img {
    height: 150px;
    margin-top: 10px;
}

h1, h2 {
    font-weight: 600;
    line-height: 60px;
    color: rgb(68, 123, 206);
}
h2{
    font-size: 2rem;
}
h1{
    font-size: 55px;
}

/* navbar styling */

.header-section {
    width: 100%;
    height: 85vh;
    margin: auto;
    transition: .3s linear;
}

/* .fix{
    position: fixed;
} */
.navBar {
    width: 100%;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    top: 0;
    position: sticky;
}

.navBar::before {
    content: '';
    background-color: rgb(225, 235, 245);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: absolute;
    z-index: -1;
    opacity: 0.75;
}

.nav-list > ul{
    display: flex;
    align-items: center;
    display: flex;
    list-style: none;
}


.nav-list > ul > li {
    padding: 3px 15px;
    color: gray;
}

nav .nav-list a {
    text-decoration: none;
    color: gray;
    font-size: 15px;
    font-weight: 500;
    transition: .3s linear;

}

nav .nav-list li a:hover {

    color: black;

}

nav .nav-list .login_section {
    display: flex;
    align-items: center;
    margin: 31px;

}

 nav .nav-list ul li:nth-last-child(1), 
 nav .nav-list ul li:nth-last-child(2)  {
    border: 1px solid gray;
    border-radius: 20px;
    padding: 3px 20px;
}

i.bi.bi-person {
    padding-right: 10px;
}

.bi {
    padding: 5px;
}



/* upper-home box styling */

header .upper-home {
    position: relative;
    width: 100%;
    height: 91.5%;
}

header .upper-home::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 95%;
    background-image: url(bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center 0px;
    /* border-radius: 20px; */
    z-index: -1;
}

header .upper-home .upperhome-box {
    width: 500px;
    height: auto;
    color: black;
    padding: 50px;

}


header .upper-home .upperhome-box p {
    font-size: 14px;
    font-weight: 400;
    color: rgb(100, 100, 100);
    margin-top: 10px;

}

/* location search bar styling */

.search_bar {
    margin: 300px auto;
}

.search_bar,
.search_bar_results {
    display: flex;
    gap:20px;
    width: 80%;
}

.home-search {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 10px 30px;
    margin: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 10px 50px #0f326e, 0 0 0 6px #a8bfe1eb;
    color: hsl(228, 15%, 50%);
    z-index: 1;
    min-height: 86px;
}


.home-search-input {
    outline: none;
    border:none;
    border-radius: 20px;
    width: 90%;
    min-width: 140px;
    background-color: #fff;
    color: hsl(228, 15%, 50%);
    padding: 15px 20px;
}

.home-search-input:focus {
    box-shadow: 0 0 5px hsl(228, 66%, 53%);
}

.home-search i {
    font-size: 1.25rem;
    color: hsl(228, 66%, 53%);
}

.search_bar > button {
    display: inline-block;
    background: linear-gradient(101deg, hsl(228, 66%, 53%), hsl(228, 66%, 47%));

    padding: 14px 28px;
    border-radius: .5rem;
    border-color: hsl(228, 66%, 53%);

    color: white;
    box-shadow: 0 4px 8px hsla(228, 66%, 45%, .25);
    transition: .3s;
    cursor: pointer;
}

.search_bar > button:hover {
    box-shadow: 0 4 px 12px hsla(228, 66%, 45%, .25);
    background: linear-gradient(101deg, hsl(228, 45%, 75%), hsl(228, 84%, 71%));
    border-color: hsl(228, 45%, 75%)
}



/* map styling */

.map {
    position: relative;
    width: 100%;
    height: 380px;
    /* border: 1px solid black; */
    /* top: -90px; */
    overflow: hidden;
    z-index: 0;
}

.map iframe {
    opacity: .8;

}

.map::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    background: linear-gradient(0deg, transparent, #fff);
    top: 0;
    left: 0;
    z-index: 2;
}

.map::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 10%;
    background: linear-gradient(180deg, transparent, #fff);
    bottom: 0;
    left: 0;
    z-index: 2;
}


/* search filter styling */

.search-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    margin: 30px;
}

.search-container {
    /* display: flex; */
    font-family: Arial, sans-serif;
    background-color: #bcd2f7;

    padding: 20px;
    border-radius: 12px;
    max-width: 800px;
    width: 100%;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    transition: transform 0.3s;
}

.search-container:hover {
    transform: scale(1.02);
}

.search-bar {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    align-items: center;
}

.search-bar h2 {
    flex-basis: 100%;
    color: #6a11cb;
    text-align: center;
    font-size: 1.2rem;
    margin: 0 0 15px 0;
    font-weight: 500;
}

.search-bar input[type="text"],
.search-bar select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 6px;
    font-size: 1rem;
    flex: 1;
    min-width: 120px;
    transition: border-color 0.3s, box-shadow 0.3s;
    outline: none;
    background-color: #f5f5f5;
    color: #333;
}

.search-bar input[type="text"]:focus,
.search-bar select:focus {
    border-color: #6a11cb;
    box-shadow: 0px 0px 5px rgba(106, 17, 203, 0.2);
}

button {
    padding: 12px 24px;
    font-size: 1rem;
    background: linear-gradient(135deg, #6a11cb, #2575fc);
    border: none;
    color: #fff;
    border-radius: 6px;
    cursor: pointer;
    transition: background 0.3s, box-shadow 0.3s;
    flex: 1;
    min-width: 130px;
    max-height: 40px;
}

button:hover {
    background: linear-gradient(135deg, #2575fc, #6a11cb);
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}





/* top cities and featured hostel styling */

/* main Container styling */
.topcities-section {
    /* font-family: Arial, sans-serif; */
    /* background-color: #f4f4f4; */
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
    width: 100%;
}

.topcities-container {
    max-width: 1200px;
    width: 100%;
    margin-bottom: 40px;
    text-align: center;
}

.topcities-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.card-hover:hover {

    background-color: #999;
    background-position: center;
    box-shadow: 0 0 4px #fff;

}

/* Grid layout */
.grid {
    display: grid;
    gap: 20px;
}

/* .featured-grid {
         grid-template-columns: repeat(5, 1fr);
     } */

.top-cities-grid {
    /* grid-template-columns: repeat(4, 1fr); */
    margin-top: 20px;
    grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
    gap: 40px;
}

/* Card styling */
.card {
    position: relative;
    background-color: #ffffff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s;
    cursor: pointer;
    min-width: fit-content;
    max-height: 380px;
    scroll-snap-align: start;
}

.card:hover {
    transform: translateY(-5px);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
}

.ribbon {
    position: absolute;
    top: 10px;
    left: -10px;
    background-color: #ff5f5f;
    color: white;
    padding: 5px 15px;
    font-size: 0.8rem;
    font-weight: bold;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    z-index: 1;
}

.card-content {
    padding: 4px 15px;
}

.card-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin: 10px 0;
}

.card-rating {
    color: #ffb400;
    font-size: 1rem;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.card-rating i {
    margin-right: 2px;
}


.card-location {
    color: #555;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    margin: 5px 0;
}

.card-location i {
    margin-right: 5px;
    color: #ff5f5f;
}

.card-price, .card-gender {
    color: #333;
    font-size: 1rem;
    font-weight: 500;
    display: flex;
    align-items: center;
    margin: 5px 10px;
}

.scrollable-cards-wrapper {
    width: 100%;
    max-width: 1120px;
    overflow: hidden;
    padding: 60px;
}

/* Hidden rows */
.hidden-row {
    display: none;
}

/* Button styling */
.toggle-button {
    margin-top: 20px;
    padding: 10px 20px;
    font-size: 1rem;
    color: #fff;
    background-color: #2e3b55;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    flex: none;
}

.toggle-button:hover {
    background-color: #0056b3;
}

.featuredhostel-section {
    /* font-family: Arial, sans-serif; */
    /* background-color: #ece5e5; */
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 40px 0;
    width: 100%;
    margin:auto;
    margin-top: 70px;

}




/* Blogs Styling */
.our-services-section{
    background-color: #f4f4f4;
}
.blogs-section,
.our-services-section {
  padding: 40px;
  text-align: center;
}

.services-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin:20px;
  gap: 20px;
}

.blogs-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width:75%;
    margin:20px auto;
}

.blog-card,
.service-card {
    transition: transform 0.2s ease, box-shadow 0.3s ease;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 300px;
  text-align: left;
  transition: transform 0.3s;
}
.blog-card:hover, .service-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.3); /* Deeper shadow on hover */
}
.blog-card img,
.service-card i {
  width: 100%;
  border-radius: 8px;
}

.service-card i {
  font-size: 40px;
  color: #007bff;
  margin-bottom: 10px;
}

.read-more {
  color: #007bff;
  text-decoration: none;
  font-weight: bold;
}




/* Footer styling */


.footer {
    background-color: #0a1c38;
    color: #fff;
    padding: 40px 0;
    display: flex;
    justify-content: space-around;

}


.footer-section {
    max-width: 250px;
    text-align: left;
}

.footer-section h3 {
    color: #d2d2d2;
    margin-bottom: 20px;
    font-size: 18px;
}

.footer-section p {
    font-size: 14px;
    color: #b1b1b1;
    line-height: 1.5;
}

.footer-section ul {
    list-style-type: none;
    padding: 0;
}

.footer-section ul li {
    margin-bottom: 10px;
}

.footer-section ul li a {
    color: #9ecffb;
    text-decoration: none;
    font-size: 14px;
}

.footer-section ul li a:hover {
    color: #ffffff;
}

.footer-section .contact-info {
    font-size: 14px;
    color: #b1b1b1;
    line-height: 1.5;
}


/* Social media icons */
.footer-section .social-icons {
    margin-top: 20px;
}

.footer-section .social-icons a {
    margin-right: 10px;
    color: #9ecffb;
    font-size: 18px;
    text-decoration: none;
}

.footer-section .social-icons a:hover {
    color: #ffffff;
}


/* small footer styling */

.small-footer {
    background-color: hsl(228deg 86.05% 13.88%);
    color: aliceblue;
    padding: 3px 50px;
}








/* utilility classes */
.h-primary {
    font-family: 'Bree Serif', serif;
    font-size: 3.8rem;
    padding: 12px;

}

.center {
    text-align: center;
}


/* responsive designing styling */


/* search-filter responsive */

@media (max-width: 768px) {
    .search-bar {
        flex-direction: column;
    }

    .search-bar h2 {
        font-size: 1.1rem;
    }
}

/* top cities and featured hostel responsiveness */

/* @media (max-width: 768px) {
    .featured-grid {
        grid-template-columns: repeat(2, 1fr);
    }

    .top-cities-grid {
        grid-template-columns: repeat(2, 1fr);
    }
}

@media (max-width: 480px) {

    .featured-grid,
    .top-cities-grid {
        grid-template-columns: 1fr;
    }
} */


/* Search Result*/
.results-search-bar {
    display: flex;
    margin: 20px auto;
    width: 60%;
}
.search-results {
    padding: 20px;
    display: flex;
    flex-direction: row;
    gap:25px;
}
  
.filters {
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 20px;
  }
  
  .filter-section, .sort-section {
    margin-bottom: 20px;
  }
  
  .filter-option label, .sort-section label {
    display: block;
    margin-bottom: 5px;
  }
  
  .filter-option input, .filter-option select, .sort-section select {
    width: 100%;
    padding: 5px;
    border-radius: 8px;
    margin-bottom: 10px;
  }

  .filter-section i, .sort-section i {
    font-size: 1.25rem;
    color: hsl(228, 66%, 53%);
}
  
  .reset-filters {
    padding: 10px;
    background-color: #FF6347;
    color: white;
    border: none;
    cursor: pointer;
  }
  
.reset-filters:hover {
    background-color: #FF4500;
}
  
.hostel-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px;
    width: 80%;
    margin-left: auto;
    margin-right: auto;
}

  
/* @media (max-width: 1024px) {
  .hostel-grid, .top-cities-grid {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
  
} */



/*no UI glider*/
  .noUi-handle:hover {
    transform: scale(1.1);
  }

  .noUi-tooltip {
    font-size: 14px;
    padding: 5px 10px;
    display: inline-block;
    top: -35px;
    font-weight: bold;
    white-space: nowrap;
  }

  /* Scroll Up Styling */
  .top-btn-position {
    position: fixed;
    right: 20px;
    bottom: 15px;
    z-index: 1;
  }
  .top-btn-style {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    border: 2px solid #333;
    background-color: #fff;
    color: #333;
    cursor: pointer;
  }


  .hostelmain-container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
}

.hostelmain-content {
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.left-section {
    flex: 2;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.hosteldetail-gallery {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-bottom: 20px;
}

.hosteldetail-gallery-item {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
}

.hosteldetail-gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    transition: 0.3s;
}

.hosteldetail-gallery-item img:hover {
    transform: scale(1.05);
}

/* for +4 overlay */

.additional-images {
    position: relative;
    cursor: pointer;
}

.additional-images .main-photo-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.5);
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 24px;
    font-weight: bold;
    transition: 0.3s;
}

/* Additional/hidden images section */

.hosteldetail-extra-gallery {
    display: none;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    margin-top: 20px;
}

.hosteldetail-extra-gallery img {
    width: 100%;
    border-radius: 8px;
    transition: 0.3s;
}

.hosteldetail-extra-gallery img:hover {
    transform: scale(1.05);
}


.show-extra .hosteldetail-extra-gallery {
    display: grid;
}

/* to hide +4 overlay when gallery is expanded */
.show-extra .main-photo-overlay {
    display: none;
}


.facilities, 
.pricing,
.nearby-section{
background-color: #ddd;
}

.left-section img {
width: 100%;
border-radius: 8px;
margin-bottom: 15px;
}

.location {
font-size: 1rem;
color: #777;
margin-bottom: 20px;
}

.facilities {
list-style-type: none;
font-size: 1rem;
color: #555;
line-height: 1.8;
}

.right-section {
flex: 1;
display: flex;
flex-direction: column;
gap: 20px;
}



.map-box iframe {
width: 100%; 
height: 300px;
border-radius: 8px;
border: none;
}




.mess-menu {
background-color: #fff;
padding: 20px;
border-radius: 8px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.mess-menu h2 {
font-size: 1.5rem;
color: #333;
margin-bottom: 10px;
}




.mess-menu table {
width: 100%;
border-collapse: collapse;
margin-top: 10px;
}

.mess-menu table th,
.mess-menu table td {
padding: 10px;
text-align: left;
border: 1px solid #ddd;
}

.mess-menu table th {
background-color: #f5f5f5;
color: #333;
}

.mess-menu table td {
color: #555;
}


.hosteldetail-container {
    max-width: 800px;
    margin: 0 auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}
.hosteldetail-title {
    font-size: 24px;
    font-weight: bold;
    color: #D32F2F;
    border-bottom: 2px solid #D32F2F;
    padding-bottom: 8px;
    margin-bottom: 20px;
}

 .rule {
    display: flex;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 20px;
}
 .rule-icon-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 10px;
    background-color: #f9f9f9;
    border-radius: 8px;
    width: 120px;
}

 .rule-icon-box p {
    margin-top: 8px;
    font-size: 16px;
    font-weight: bold;
}

/*  styling for separation */

.hosteldetail-info {
    padding: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ddd;
    border-radius: 10px;
}



.hosteldetail-info:nth-child(1) {
    background-color: #f9f9f9;
}
.hosteldetail-info:nth-child(2) {
    background-color:#f9f9f9;
    padding-top: 30px;
}
.hosteldetail-info:nth-child(3) {
    background-color: #f9f9f9;
    padding-top: 30px;
}


   
   .location-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}


/* Admin Page */

.admin-page {
    padding: 20px;
  }
  
  .tables-container {
    display: flex;
    gap: 20px;
  }
  
  .table-section {
    flex: 1;
  }
  
  .table-container {
    max-height: 400px;
    overflow-y: auto;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .admin-table {
    width: 100%;
    border-collapse: collapse;
  }
  
  .admin-table th,
  .admin-table td {
    border: 1px solid #ddd;
    padding: 10px;
    text-align: left;
  }
  
  .admin-table th {
    background-color: #f4f4f4;
    position: sticky;
    top: 0;
  }


  /* Admin Login Page Styles */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #f2f4f5, #9b9bcf);
    font-family: 'Arial', sans-serif;
  }
  
  .login-box {
    background: #ffffff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
    width: 100%;
    max-width: 400px;
  }

  .form-group {
    border: none;
    display: flex;
    align-items: center;
    margin: auto;
    background-color: #fff;
    border-radius: 20px;
    box-shadow: 0 2px 2px #0f326e, 0 0 0 3px #a8bfe1eb;
    margin-bottom: 15px;
  }

  .form-group :focus {
      box-shadow: 0 0 10px hsl(228, 66%, 53%);
  }

  .login-box>h2 {
    margin-bottom: 20px;
    font-size: 24px;
  }
  
  .form-group> input {
    outline: none;
    border:none;
    border-radius: 20px;
    width: 100%;
    background-color: #fff;
    color: hsl(228, 15%, 50%);
    padding: 15px 20px;
    text-align: center;
  }
  
  .login-box>.error {
    color: #ff4d4d;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 10px;
  }

  .login-button{
    width: 100%;
  }


  /* ListYourHostel */

  .hostel-form-container{
    background: linear-gradient(135deg, #f2f4f5, #9b9bcf);
    display:flex;
  }
  .hostel-form {
    max-width: 600px;
    margin: 20px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 8px 10px rgba(0, 0, 0, 0.2);
  }
  
  .hostel-form h1 {
    text-align: center;
    /* color: #333; */
  }
  
  .hostel-form label {
    display: block;
    margin-bottom: 10px;
    font-size: 15px;
    color: #555;
  }
  
  .hostel-form input,
  .hostel-form select,
  .hostel-form button,
  .hostel-form textarea {
    width: 100%;
    padding: 10px;
    margin: 5px 0 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 14px;
  }

  .hostel-form textarea{
    height: 150px;
    padding: 10px;
    resize:none;
  }

  .amenities-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
    gap: 15px;
    margin: 20px 0;
  }
  
  .amenity {
    text-align: center;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease;
  }
  
  .amenity.selected {
    background-color: #007bff;
    color: white;
    transform: scale(1.05);
  }
  
  .emoji {
    font-size: 24px;
  }
  
  .name {
    margin-top: 5px;
    font-size: 14px;
  }
  
  .weekly-menu-grid {
    display: grid;
    grid-template-columns: 1fr repeat(3, 2fr);
    gap: 10px;
    margin: 20px 0;
  }
  
  .menu-header,
  .menu-day-name {
    text-align: center;
    font-size: 15px;
    font-weight:400;
    background-color: #007bff;
    color:white;
    padding: 10px;
    border: none;
    border-radius: 5px;
  }
  
  .meal-cell {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;

  }
  
  .meal-cell input {
    width: 100%;
    padding: 5px;
    box-sizing: border-box;
  }

  .meal-cell input:focus {
    border:none;
    outline:none;
    box-shadow: 0 0 10px hsl(228, 66%, 53%);
  }
  
  
  .fee-structure-grid {
    display: grid;
    grid-template-columns: 1fr;
    gap: 10px;
    margin: 20px 0;
    align-items: center;
  }
  
  .input-row {
    display: flex;
    gap: 10px;
    align-items: center;
  }
  
  .input-row input select {
    flex: 1;
    padding: 5px;
  }
  
  .fee-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }

  .fee-item button{
    max-width: 100px;
    background: linear-gradient(135deg, #ff0000, #f96400);
    margin:0;
    width: auto;
  }

  .fee-item button:hover{
    background: linear-gradient(135deg, #f96400, #ff0000);
  }
  
  
  /* .input-row button {
    padding: 5px 15px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */
  
  /* .input-row button:hover {
    background-color: #0056b3;
  } */
  

  .rules-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
  }
  
  .rules-grid {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 8px;
  }
  
  .rules-grid input {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
  }

  .rules-item{
    /* width: 60%; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
    padding: 3px 4px;
  }

  .rules-item span{
    width: 100%;
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;

  }

  .rules-item button{
    max-width: 50px;
    background: linear-gradient(135deg, #ff0000, #f96400);
    margin:0;
    width: auto;
  }
  .rules-item button:hover{
    background: linear-gradient(135deg, #f96400, #ff0000);
  }
  
  .create-role,
  .create-role label{
    width: fit-content;
    display: flex;
  }

  .create-role{
    gap:40px;
  }
   /* blog page stylingg */




   .blog-body {
    background-color: #f4f9fc; /* Light sky blue background for the body */
    /* font-family: Arial, Helvetica, sans-serif; */
    color: #333;
    margin: 0;
    padding: 0;
}

/* Main container layout */
.blogmain-container {
    display: flex;
    justify-content: center;
    gap: 20px;
    padding: 40px;
    max-width: 1200px;
    margin: 0 auto;
}

/* Blog Container */
.blog-container {
    flex: 3;
    padding: 30px;
    background: #fff;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.blog-container h2 {
    font-size: 1.7em;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #007acc;
    color: #000;
}

.blog-main-image {
    width: 100%;
    max-height: 400px;
    object-fit: cover;
    margin-bottom: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.blog-meta {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 10px;
    margin-bottom: 20px;
    color: #555;
    font-size: 14px;
}

.blog-meta .date,
.blog-meta .views {
    display: flex;
    align-items: center;
}

.blog-meta .date {
    font-size: 1.2em;
    color: #999;
}

.blog-meta .views {
    font-size: 1.2em;
    color: #28a745;
    font-weight: bold;
}

.blog-content p {
    margin-bottom: 15px;
    text-align: justify;
}

.blog-body a {
    color: #007acc;
    text-decoration: none;
}

.blog-body a:hover {
    text-decoration: underline;
}

/* Most Viewed Section */
.blog-most-viewed {
    flex: 1;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.blog-most-viewed h2 {
    font-size: 1.5em;
    margin-bottom: 15px;
    padding-bottom: 10px;
    border-bottom: 2px solid #007acc;
    color: #000;
}

.blog-most-viewed-item {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}

.blog-most-viewed-item:last-child {
    border-bottom: none;
    padding-bottom: 0;
}

.blog-most-viewed-item img {
    width: 60px;
    height: 60px;
    border-radius: 5px;
    margin-right: 15px;
    object-fit: cover;
}

.blog-most-viewed-item .content {
    flex: 1;
}

.blog-most-viewed-item h3 {
    margin: 0;
    font-size: 1em;
    color: #333;
}

.blog-most-viewed-item h3 a {
    text-decoration: none;
    color: #007acc;
}

.blog-most-viewed-item h3 a:hover {
    text-decoration: underline;
}

.blog-most-viewed-item .date {
    font-size: 0.9em;
    color: #999;
}

.blog-most-viewed-item .views {
    font-size: 0.9em;
    color: #28a745;
    font-weight: bold;
}


/* blog-Follow Us Section */
.blog-follow-us-section {
    margin: 40px auto;
    padding: 30px;
    max-width: 900px;
    background-color: #87CEEB; /* Sky blue background */
    border-radius: 8px;
    text-align: center;
    color: #fff;
}

.blog-follow-us-section h3 {
    margin-bottom: 20px;
    font-size: 2em;
    font-weight: bold;
}

.blog-social-icons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.blog-social-icons a {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    font-size: 24px;
    color: #333;
    border: 1px solid #ddd;
    transition: all 0.3s ease;
}

.blog-social-icons a:hover {
    transform: scale(1.1);
}

.blog-social-icons a.facebook {
    background-color: #3b5998;
    color: #fff;
}

.blog-social-icons a.google {
    background-color: #db4437;
    color: #fff;
}

.blog-social-icons a.whatsapp {
    background-color: #25d366;
    color: #fff;
}

.blog-social-icons a.instagram {
    background-color: #5851db;
    color: #fff;
}


/* Add Blog Section */
.add-blog {
    width: 80%;
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .add-blog h2 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
  }
  
  .add-blog form {
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .add-blog label {
    font-size: 1rem;
    color: #333;
  }
  
  .add-blog input,
  .add-blog textarea {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1rem;
    width: 100%;
    box-sizing: border-box;
  }
  
  .add-blog input:focus,
  .add-blog textarea:focus {
    outline: none;
    border-color: #007bff;
  }
  
  .add-blog textarea {
    resize: vertical;
    min-height: 100px;
  }
  
  .add-blog p {
    color: red;
    text-align: center;
    font-weight: bold;
  }
  